.banner-container{
    margin-top: 3px;
    margin-bottom: 3px;

    width:100%;
    height:120px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: greenyellow;

}