
.search-container {
    background: white;
    position : relative;
    justify-content: space-around;
    text-align: center;
    padding: 15px 15px;
    display:flex;

}
.logo {
    padding: 10px ;
    font-size: 40px;
    background-color: white;
}
.user-icon-container{
    background-color: white;
    vertical-align: center;
    font-size: 40px;
    width: 100px;
}
.cart-icon-container{
    background-color: white;
    font-size: 30px;
    width: 100px;
}
.search-bar{
    background: black;
    display: flex;
    padding : 2px;
    border-radius:4px;
}
#select {
    background: #160052;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    width:200px;
    padding:0px 10px;
    font-size: 20px;
    cursor:pointer;
    position: relative;
    border-radius:4px;
}

#select ul{
    position:absolute;
    top:100%;
    left:0;
    list-style:none;
    background:#fff;
    color:#555;
    width:100%;
    border-radius:4px;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.5s;
}
#select ul li{
    padding: 10px 20px;
    cursor:pointer;
}
.search-bar input {
    padding:15px;
    width:100%;
    border:none;
    outline:none;
    font-size: 20px;
}
