.progress-bar-container{
    height: auto;
    width: auto;
    justify-self: center;
 
}

.progress-bar{
    position :relative;
    margin-top: 100px;
    left:50%;
    top:50%;

    
}

.progress-bar2-container{
    width: auto;
    height:170px;
}
.progress-bar2{
    position :relative;
    left:50%;
    top:50%;  
}