
.show-container{
    width: 1240;
    position:relative;
    
}
.search-product-container{
    width:593px;
    background-color: green;
    top: 71px;
    left: 391px;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    border: black solid 1px;
    overflow: visible;
    box-shadow: 0px 0px 1px 1px black;
 
}

.show-search-product-single{
    background-color: rgb(235, 235, 235);
    display: flex;
    height: 120px;
    border-bottom: 1px solid grey;
    align-items: center;
}
.show-search-product-single:hover {
    background-color: pink;
    cursor: pointer;
}


.show-search-product-single-image-container{
    width: 150px;
    height: 120px;
    border-right:1px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.all-result-no-match{
    background-color: rgb(235, 235, 235);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;   
}
.all-result-container{
    background-color: rgb(235, 235, 235);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.all-result-container:hover{
    background-color: pink;
    cursor: pointer;

}
.show-search-product-single-detail-container{

    margin-left: 30px;
}

