.nav ul {
    list-style: none;
    background: grey;
    text-align:center;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    
}
.nav li {
    display: inline-block;
    
}
.nav a{
    text-decoration: none;
    color:  #fff;
    width: 200px;
    display:block;
    padding: 15px;
    font-size: 18px;
    font-family: Helvetica;
    
}

  
.nav li.active {
    background-color: #555;
}
  
.nav li:hover {
    background-color: #777;
}